#value	type	subtype	sort	filter	default	min	max	choose	short_name	name
# Remember to edit tool_data_table_conf.xml for column spec!
length	numeric	int	1	1				1	Length	Alignment length
qstart	numeric	int	1	1				1	Q. Start	Alignment start in query
qend	numeric	int	1	1				1	Q. End	Alignment end in query
sstart	numeric	int	1	1				1	S. Start	Alignment start in subject
send	numeric	int	1	1				1	S. End	Alignment end in subject
qseq	text	atgc	0	1				1	Q. Alignment	Aligned part of query sequence
sseq	text	atgc	0	1				1	S. Alignment	Aligned part of subject sequence
mseq	text	atgc	0	1				1	Alignment	Alignment, matched part
#
bitscore	numeric	int	1	1				1	Bit Score	Bit score
evalue	numeric	float	1	1				1	E-value	Expectation value
pcov	numeric	int	1	1				1	% Coverage	% coverage
gapopen	numeric	int	1	1				1	Gaps-openings	# of gap openings
gaps	numeric	int	1	1				1	Gaps	Total number of gaps
mismatch	numeric	int	1	1				1	Mismatches	# of mismatches
nident	numeric	int	1	1				1	Ident. Matches	# of identical matches
positive	numeric	int	1	1				1	Pos. Matches	# of positive-scoring matches
pident	numeric	float	1	1	97	90	100	1	% Identical	% of identical matches
ppos	numeric	float	1	1				1	% Positive	% of positive-scoring matches
score	numeric	int	1	1				1	Raw Score	Raw Score
#
qseqid	text	int	1	1				1	Query Id	Query sequence id
qframe	numeric	int	1	1				1	Query Frame	Query frame
qlen	numeric	int	1	1				1	Query Length	Query sequence length
#
accessionid	text		1	1				1	Accession	Subject accession id
sframe	numeric	int	1	1				1	Subject Frame	Subject frame
salltitles	text		0	1				1	Subject Titles	Subject sequence title(s) (all)
stitle	text		1	1				1	Subject Title Subject sequence title (first)
sseqid	text	int	1	1				1	Subject Id	Subject sequence id
sallseqid	text		1	1				1	Subject Ids	Subject sequence ids (all)
slen	numeric	int	1	1				1	Subject Length	Subject sequence length
